[submodule "janus/pyflakes"]
	path = janus/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "janus/yankring"]
	path = janus/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "janus/unimpaired"]
	path = janus/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "janus/solarized"]
	path = janus/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "tools/git-wtf"]
	path = tools/git-wtf
	url = git://github.com/michaelklishin/git-wtf.git
[submodule "janus/threesome"]
	path = janus/threesome
	url = git://github.com/sjl/threesome.vim.git
