[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  window_state = maximise
  title_transmit_bg_color = "#d30102"
  borderless = True
  focus = system
  tab_position = hidden
[keybindings]
[profiles]
  [[default]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 50000
    use_system_font = False
    cursor_color = "#eee8d5"
    foreground_color = "#eee8d5"
    font = Inconsolata Medium 12
    background_color = "#002b36"
    allow_bold = False
  [[solarized-light]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 50000
    use_system_font = False
    cursor_color = "#002b36"
    foreground_color = "#002b36"
    font = Inconsolata Medium 12
    background_color = "#eee8d5"
    allow_bold = False
  [[solarized-dark-w-bold]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 50000
    use_system_font = False
    cursor_color = "#eee8d5"
    foreground_color = "#eee8d5"
    font = Inconsolata Medium 12
    background_color = "#002b36"
  [[solarized-dark-no-bold]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 50000
    use_system_font = False
    cursor_color = "#eee8d5"
    foreground_color = "#eee8d5"
    font = Inconsolata Medium 12
    background_color = "#002b36"
    allow_bold = False
  [[green-on-black]]
    use_system_font = False
    font = Inconsolata Medium 11
    foreground_color = "#00ff00"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = solarized-dark
    [[[window0]]]
      type = Window
      parent = ""
  [[work]]
    [[[child0]]]
      position = 50:24
      type = Window
      order = 0
      parent = ""
      size = 735, 451
    [[[terminal1]]]
      profile = default
      command = cd work
      type = Terminal
      order = 0
      parent = child0
[plugins]
